.header {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.header__imgBG {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  /* filter: blur(11px) brightness(0.3) hue-rotate(208deg); */
  filter: blur(11px) brightness(0.3) hue-rotate(181deg);
  height: 103%;
  width: 100%;
}

.header__container {
  position: relative;
  padding: 35px;
  z-index: 1;
  /* text-align: center; */
}

.header__title {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: var(--font-family);
}

.header__title p {
  margin: 0;
  line-height: 1.1;
  /* text-shadow: -5px 4px 0px #605fe3; */
  text-shadow: -5px 4px 0px #2d7c9e;
}

.header__description {
  font-family: var(--font-family-1);
  max-width: 300px;
  font-weight: 600;
  margin-top: 22px;
}

/* REDESS */
.header__redes {
  margin-top: 30px;
  font-size: 2rem;
  display: inline-grid;
  gap: 9px;
  grid-template-columns: repeat(4, 35px);
  color: var(--color-icon);
  /* background: #6162df; */
  background: #ffffff33;
  padding: 6px;
  border-radius: 25px;
  border: 1px #ffffff29 solid;
}

.header__redes-content {
  transition: 0.3s ease-out;
  cursor: pointer;
  height: 35px;
}

.header__redes-content:hover {
  transform: scale(1.1);
}

.header__scene {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}