.slider{
    overflow-x: clip;
    position: relative;
    width: 500px;

    /* transition: 0.5s;
    transform: rotate3d(100,100,0,26deg) translateY(-11px); */
}
.slider-container{
    position: relative;
    /* display: flex; */
    /* flex-wrap: wrap; */
    cursor: grab;
}

.slider-controls{
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 40%;
    color: white;
}

.slider-controls .back,.slider-controls .next{
    position: absolute;
    /* bottom: 42%; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    background: #2e2e2ec7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.slider-controls .back img,.slider-controls .next img{
  width: 14px;
}
.slider-controls .back img{
  margin-right: 2px;
}
.slider-controls .next img{
  margin-left: 2px;
}
.slider-controls .next{
    right: 5px;
}
.slider-controls .back{
    left: 5px;
}
.slider-controls .next i{
    position: relative;
    right: -2px;
}
.slider-controls .back i{
    position: relative;
    right: 2px;
}

/* .animation3d{

} */
