.cardB{
  box-shadow: -3px -3px 4px 0px #ffffff26, 4px 4px 4px 2px #00000026, inset 5px 5px 7px 2px #fffafa26, inset -3px -3px 5px 0px #0000003b;
  /* width: 200px; */
  /* height: 200px; */
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 6px;
  color:white;
}
.cardB-img img{
  width: 50%;
}
.cardB-title{
  font-size: 18px;
  font-weight: 600;
}
.cardB-description{
  font-size: 14px;
}
