.indexbox {
  position: fixed;
  top: 50%;
  left: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff33;
  padding: 7px 5px;
  border-radius: 11px;
}
.indexbox__item {
  height: 10px;
  width: 11px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexbox__item,
.indexbox__shape,
.indexbox__shape-inside,
.indexbox__shape-inside::before{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.indexbox__shape {
  width: 100%;
  height: 100%;
  background: #2d7c9e;
  display: none;
}
.indexbox__shape-inside {
  width: 75%;
  height: 75%;
  background: #202d2f;  
}

.indexbox__shape-inside::before {
  content: '';
  width: 35%;
  height: 35%;
  background: white;
}
.ib-shape-view{
  display: flex;
}

@media screen and (max-width: 900px) {
  .indexbox {
    left: 10px;
  }
}
