.proyects {
  color: var(--color-text);
  background: linear-gradient(281deg, #19191a, #1a1a1c);
  min-height: 100vh;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.proyects__container {
  margin: auto;
  max-width: 900px;
  width: 100%;
  padding: 100px 30px;
}

.proyects__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.proyects__title {
  font-size: 2.5rem;
  font-family: var(--font-family);
}

.proyects__zone-info {
  width: 100px;
}

.proyects__illu {
  /* width: 320px; */
  /* height: 270px; */
  /* background: linear-gradient(0deg, #6f70f2, #9b74cd); */
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
  padding: 20px 15px 15px 15px;
  gap: 16px;
  align-items: center;
}

.proyects__img {
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.proyects__img>a {
  display: flex;
  position: relative;
}

.proyects__img .proyects__img-web {
  width: 93%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  /* transform: rotate3d(1, 7, 1, 350deg); */
  animation: floatP 2.5s alternate infinite ease-in-out;
  margin: auto;
  box-shadow: 5px 4px 3px 0px #0000001c;
  top: 37px;
}

@keyframes floatP {
  0% {
    transform: rotate3d(1, 7, 1, 357deg) translateY(-5px);
  }

  100% {
    transform: rotate3d(1, 7, 1, 362deg) translateY(-10px);
  }
}


.proyects__info {
  padding: 20px 14px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background: #28292d;
  border: 1px #ffffff17 solid;
  border-radius: 8px;
  padding-top: 50px;
  position: relative;
}

.proyects__info>a {
  text-decoration: none;
  color: inherit;
}

.proyects__img-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 3px;
  color: #cecece;
  justify-content: center;
}

.proyects__img-tech-img span {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.proyects__img-tech-img {
  padding: 4px 10px;
  border: solid 1px #3f3f3f;
  border-radius: 15px;
  font-size: 0.63rem;
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
  background: linear-gradient(271deg, #ffffff12, #ffffff05);
  box-shadow: 2px 2px 3px 0px #0000001f;
}

.proyects__img-tech img {
  width: 100%;
}

.proyects__info-proyect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.proyects__info-proyect img {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.proyects__info-text {
  padding: 8px 15px;
  border-radius: 5px;
  min-width: 220px;
  font-size: 0.82rem;
  display: flex;
  align-items: center;
}

.proyects__info-button-deploy {
  gap: 5px;
  padding: 4px 10px;
  border: solid 1px #3f3f3f;
  border-radius: 15px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  width: max-content;
  background: linear-gradient(90deg, #0000001c, #00000021);
  box-shadow: 2px 2px 3px 0px #0000001f;
  margin: auto;
}

.proyects__info-button-deploy svg {
  width: 20px;
}

@media screen and (max-width: 700px) {
  .proyects__container {
    padding: 50px 30px;
  }

  .proyects__content {
    flex-direction: column;
  }

  .proyects__illuImg:hover {
    transform: scale(1.5);
  }

  .proyects__illuImg:nth-child(1):hover {
    transform: scale(1.2);
  }

  .proyects__img-tech-img {
    font-size: 0.8rem;
  }
}