.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 1.5rem 4rem 0.5rem 4rem;
    color: var(--color-text);
    position: fixed;
    top: 0;
    width: 100%;
    /* background: var(--color-bg); */
    z-index: 2;
    box-sizing: border-box;
}

.navbar_logo {
    display: flex;
    /* align-items: center; */
}

.navbar_logo span {
    margin-right: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar_logo img {
    width: 25px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: unset;
}

.navbar-links_logo {
    margin-right: 2rem;
}

.navbar-links_logo img {
    width: 25px;
    /* height: 16.02px; */
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.navbar-links_container-indice {
    transition: 0.5s;
    position: absolute;
    height: 5px;
    width: 75px;
    z-index: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    bottom: -3px;
}

.navbar-links_container-indice span {
    height: 5px;
    width: 5px;
    background: var(--color-text);
    display: block;
    border-radius: 50%;
}

/*  .navbar-links_container p:nth-child() */

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
    width: 75px;
    text-align: center;
    /* color:#181717; */
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 25px;
    text-transform: uppercase;

    /* margin: 0 1rem; */

    cursor: pointer;
    z-index: 0;

}

.navbar-sign button,
.navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.giro {
    animation: giro 1s;

}

.conCloseMenu {
    position: relative;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.closeLine {
    position: absolute;
}

/* .menuLine{
    position: absolute;
} */
.cGiroInicio {
    opacity: 1;
    animation: giroInicio 0.5s forwards ease-in;
}

.cGiroFin {
    opacity: 0;
    animation: giroFin 0.5s 0.2s forwards;
}

@keyframes giroInicio {
    0% {
        transform: rotateZ(0);
        opacity: 1;
    }

    50% {
        visibility: hidden;
        opacity: 0.5;
    }

    100% {
        transform: rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes giroFin {
    0% {
        transform: rotateZ(0);
        opacity: 0;
    }

    50% {
        visibility: hidden;
        opacity: 0.5;
    }

    100% {
        transform: rotateZ(360deg);
        opacity: 1;
    }
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: #2f2e41;
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 2px 3px 0 #00000024;
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1010px) {
    .navbar-links {
        display: none;
    }

    .navbar-menu {
        /* display: flex; */
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 1.6rem 2rem;
    }

    .navbar-sign {
        /* display: none; */
    }

    .navbar-menu_container {
        top: 20px;
    }

    .navbar-menu_container-links-sign {
        display: block;
    }
}

/* buttonSpecial */
.navbar_buttonSpecial button {
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 16px;
    border: 0;
    width: 68px;
    outline: none;
    color: var(--color-text-2);
    background: #e7666b;
    font-family: inherit;
    margin-left: 40px;
    box-shadow: inset 3px 3px 0px 2px #fff2ef63;
}