@import url('https://fonts.googleapis.com/css1?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css1?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css1?family=Poppins&display=swap');
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

:root {
  --font-family-1: 'Poppins', sans-serif;
  --font-family: 'Bebas Neue', sans-serif;
  /* --font-family-1: 'Manrope' ,sans-serif; */
  /* --font-family-1: 'Roboto', sans-serif; */

  --gradients-bg:linear-gradient(45deg, #ef877e, #f0a57f);
  --gradients-bg-2:linear-gradient(10deg,#98BAE7 1.84%,#B8E4F0);
  --gradients-bg-text-2:#111111;

  --gradients-text:linear-gradient(10deg,#fbb599 1.84%,#dc3b50);
  /* --gradients-bar:linear-gradient(20deg,#550555 1.84%,#9650e6); */
  /* 6E3CBC linear-gradient(10deg,#98BAE7 1.84%,#B8E4F0); */
  --color-bg:#7267CB;
  --color-bg-2:#98BAE7;
  --color-bg-3:#B8E4F0;
  --color-bg-4:#ffffff;
  
  --color-text:#2f2f30;
  --color-text-2:#e5e5e5;
  --color-text-3:#222222;

  --color-title:#353535;
  --color-subtext:#ef877e;
  --color-footer: #303031;
  --color-icon: #e2e6eb;
  --color-button:#ef877e;
  --color-button-2:#f3e521;
}

.black{
  --gradients-bg:linear-gradient(45deg, #393a3d, #28292f);
  --gradients-bg-2:linear-gradient(10deg,#98BAE7 1.84%,#B8E4F0);
  --gradients-bg-text-2:#202024;

  --gradients-text:linear-gradient(10deg,#fbb599 1.84%,#dc3b50);

  --color-bg:#26253b;
  --color-bg-2:#39393a;
  --color-bg-3:#272835;
  --color-bg-4:#212227;
  
  --color-text:#e8e8e8;
  --color-text-2:#BDBDBD;
  --color-text-3:#ffffff;

  --color-title:#dadada;
  --color-subtext:#ef877e;
  --color-footer: #202022;
  --color-icon: #e9ecf0;
  --color-button: #ef877e;
  --color-button-2:#f3e521;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212122;
  transition: 0.5s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20759a;
  transition: 0.5s ease;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
  color-scheme: dark light;
}
